.add-task {
  padding: 0.5rem;
  border-radius: 8px;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__header img {
  cursor: pointer;
}

.tasks {
  width: auto;
  height:300px;
  overflow-y: auto;
  padding-right: 10px;
}

/* Scrollbar CSS */

.tasks::-webkit-scrollbar {
  width: 5px;
}

.tasks::-webkit-scrollbar-thumb {
  background-color: var(--gray-300);
  border-radius: 5px;
}

.tasks::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-400);
}

.tasks::-webkit-scrollbar-track {
  background-color: var(--gray-100);
}